################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/NUnit.3.5.0
/DevelopmentWithADot.Interception.Tests/bin/Debug
